{% extends 'myadmin/index.html' %}
{% block content  %}
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <td><a href="{% url 'addcoupon' %}" class="btn btn-sm btn-primary">Add Coupon</a></td>
                        <h6 class="mb-0">Coupon Management</h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-dark">
                                    <th scope="col">Coupon Code</th>
                                    <th scope="col">Discount</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for coupon in c %}   
                                <tr> 
                                    <td>{{coupon.coupon_code}}</td>
                                    <td>{{coupon.discount}}</td>
                                    <td><a href="{% url 'deletecoupon' coupon.id %}" class="btn btn-sm btn-danger">Delete</a></td>
                                </tr>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
{% endblock %}