{% extends 'myadmin/blank.html' %}

{% block content %}
    <div class="content-header sty-one">
        <h1 class="text-black"></h1>
        <ol class="breadcrumb">
        <li><a href="{% url 'adminhome' %}">Home</a></li>
        <li class="sub-bread"><i class="fa fa-angle-right"></i> Forms</li>
        <li><i class="fa fa-angle-right"></i>New Product</li>
        </ol>
    </div>
    
    <!-- Main content -->
    <div class="content">
        <div  class="d-flex justify-content-center" >
        <div class="col-lg-6">
            <div class="card card-outline ">
            <div class="card-header bg-blue">
                <h5 class="text-dark m-b-0">Edit here</h5>
            </div>
            <div class="card-body">
                <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control" id="" placeholder="Name" name="name" value="{{product.product_name}}" >
                </div>
                <div class="form-group">
                <label for="">Description</label>
                <input type="text" class="form-control" id="" placeholder="Description" name="description" value="{{product.description}}" >
                </div>
                <div class="form-group">
                <label for="">Price</label>
                <input type="number" class="form-control" id="" placeholder="Price" name="price" value="{{product.price}}">
                </div>
                <div class="form-group">
                <label for="">Stock</label>
                <input type="number" class="form-control" id="" placeholder="Stock" name="stock" value="{{product.stock}}" >
                </div>
                <div class="form-group">
                <label for="">Category</label>
                <!-- <input type="text" class="form-control" id="" placeholder="Category" name="category" > -->
                <div class="form-group">
                    <select class="form-control" name="category">
                    {% for category in values %}
                    <option value="{{category.id}}" >{{category.category_name}}</option>
                    {% endfor %}
                    </select>
                </div>
                </div>
                <div class="form-group">
                <label for="">Image</label>
                <input type="file" class="form-control"  placeholder="Main Image" name="image1" >
                <input type="file" class="form-control" name="image2" >
                <input type="file" class="form-control" name="image3" >
                <input type="file" class="form-control" name="image4" >
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
            </div>
            </div>
        </div>
        </div>
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
    <!-- /.content --> 
    </div>
{% endblock %}